#intro-page {
  padding: 2%;
  width: 100%;
}

#h5p-jeopardy-button-retry {
  margin-top: 1em;
}
.h5p-jeopardy-main-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}
  
.h5p-jeopardy-grid-container:after {
  content: "";
  display: table;
  clear: both;
}
.h5p-jeopardy-result-page,
.h5p-jeopardy-grid-container {
  text-align:center;
}
.jeopardy-topic {
  font-weight: bold;
  padding: 6%;
  
}
.jeopardy-clue {
  text-align: center;
}
.jeopardy-clue-content {
  /*padding: 2%;*/
}
.jeopardy-clue-data-mobile,
.jeopardy-clue-data {
  padding: 5%;
}
.h5p-jeopardy-result-container,
.jeopardy-topic-content,
.jeopardy-clue-content {
  width: 100%;
  height: 100%;
  display: table;
}
.jeopardy-clue p,
.jeopardy-col p {
  /*padding: 2%;*/
}
.jeopardy-clue-inner {
  display: table-cell;
  /*margin: 2%;*/
}
.h5p-jeopardy-result,
.jeopardy-inner {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  background-color: #dcdcdc;
  border: 2px solid white;
}
[class*='col-'] {
  padding-left: 1%;
  padding-right: 1%;
}
.h5p-jeopardy-grid-container .empty p {
  background-color: none;
}
.h5p-jeopardy-clue-page,
.jeopardy-clue-card {
  display: table;
  /*padding: 2%;*/
  width: 100%;
  height: 100%;
  
}
.h5p-jeopardy-clue-topic,
.h5p-text-input,
.h5p-jeopardy-clue-clue {
  font-size: 150%;
  margin: 2%;
}
.h5p-input-wrapper {
  display: block;
  margin: 2%;
}
.h5p-jeopardy-clue-container {
  padding: 2%;
  background-color: #dcdcdc;
}
.h5p-jeopardy-clue-container,
.jeopardy-clue-response {
  display: table-cell;
  vertical-align: middle;
  /*margin: 2%;*/
  font-weight: bold;
}

.h5p-jeopardy-clue-page {
  width: 100%;
  font-weight: bold;
  padding: 2%;
  text-align: center;
}

/* Correctly answered input */
.h5p-correct,
.h5p-correct .h5p-text-input {
  background: #9dd8bb;
  color: #255c41;
}
.h5p-correct .h5p-text-input {
  border: 1px solid #9dd8bb;
}
.h5p-correct-answer {
  color: #255c41;
  font-weight: bold;
}
.h5p-correct:after {
  position: relative;
  /*right: 0.5em;*/
  top: 0;
  text-decoration: none;
  content: "\f00c";
  font-family: 'H5PFontAwesome4';
  color: #255c41;
}

/* Wrongly answered input */
.h5p-wrong,
.h5p-wrong .h5p-text-input {
  background-color: #f7d0d0;
  color: #b71c1c;
  /*text-decoration: line-through;*/
}
.h5p-wrong .h5p-text-input {
  border: 1px solid #f7d0d0;
}
.h5p-wrong:after {
  position: relative;
  /*right: 0.5em;*/
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f00d";
  color: #b71c1c;
}

#h5p-jeopardy-feedback-container {
  text-align: center;
}
.jeopardy-clue-data-mobile {
  display: none;
}
@media handheld, only screen and (max-width: 767px) {
  .h5p-jeopardy-grid-container .empty {
    display: none;
  }
  .jeopardy-topic-content {
    display: none;
  }
  .jeopardy-clue-data {
    display: none;
  }
  .jeopardy-clue-data-mobile {
    display: block;
  }
}
